<!-- Fichier : src/app/shared/components/sidebar/sidebar.component.html (Version finale avec débogage) -->

<ng-container *ngIf="(menuItems$ | async) as items; else noMenu">
  <div class="main-menu" *ngIf="items.length > 0; else noMenu">
    
    <ng-container *ngFor="let item of items; let i = index">
      <div class="menu-item-container">
        
        <button 
          (click)="toggleSubMenu(item.id)" 
          class="menu-item"
          [class.active]="activeMenu === item.id">
          
          <i *ngIf="item.icon" class="icon" [ngClass]="'icon-' + item.icon"></i>
          {{ item.nom }}
          <i *ngIf="item.sousFonctionnalites && item.sousFonctionnalites.length > 0" 
             class="arrow" 
             [class.expanded]="activeMenu === item.id">▼</i>
        </button>
        
        <div *ngIf="activeMenu === item.id && item.sousFonctionnalites && item.sousFonctionnalites.length > 0" 
             class="submenu">
          
          <!-- 
            Nous utilisons un ng-container pour la boucle afin de pouvoir ajouter 
            des éléments de débogage sans casser la structure visuelle.
          -->
          <ng-container *ngFor="let child of item.sousFonctionnalites">
            
 <a (click)="navigateTo(child)" 
   class="submenu-item">
   {{ child.label }}
</a>



            
            

          </ng-container>

        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<!-- Template si aucun menu n'est disponible -->
<ng-template #noMenu>
  <div class="no-menu-message">
    <p>Aucun menu disponible.</p>
  </div>
</ng-template>
